nav {
	background-color: #00688B;
}
img.a{
	width: 130px;
	height: 160px;
	
}

b.a{
	color: #8B0A50;
	font-size:50px;
	margin-top: 20px;
	margin-left: 10px;
}
h5.b{
	color: #8B0A50;
	margin-left: 10px;
}
div .input-group {
	margin-top: 30px;
}
div .emojis{
	float: right;
}
img.brasil{
	height: 17px;
    width: 30px;
}
div .cimaa{
	background-color: #8DB6CD;
}
b.omg{
	font-size: 14px;
	color: #363636;
}

img.bb{
	height: 25px;
	width: 25px;
}
p.bran{
	color: white;
	font-size: 15px;

}
p.des{
	font-size: 10px;
	color: white;
	margin-top: 12px;
}
img.dees{
	height: 13px;
	width: 13px;
}
p.daa{
	font-size: 13px;
	color: white;
	float: right;
	margin-top: 12px;
	margin-right: -230px;
}

div .input-group-prepend{
	margin-top: 20px;
	height: 28px;
	background-color: #B10944;
}
a.link{
	color: black;
}

#aa{
	font-size: 16px;
	background-color:lightgray;
	color:#B10944;
	border-top: 3px solid #B10944 ;
}

p.saa{
	color: #910332;
}
#imgcarrosel{
	width: 968px;
	height: 470px;
}
.card{
	margin-top: 20px;
}
#bb{
	border-top: 5px solid #3c3265 ;
	color: #3c3265;
	background-color:lightgray;
	
}
#taa{
	width: 968px;

}
#pro{
	color: #315fdc;
}
#imgpro{
	width:635px;
	height:300px;

}
#sp{
	font-size: 15px;
	margin-top: 20px;
}
#bbb{
	border-top: 5px solid #3c3265 ;
	color: #3c3265;
	background-color:lightgray;
	height: 50px;
	
}
#proo{
	color: #315fdc;
	font-size: 15px;
}
.mar{
	width:975px;
	
}
.cris{
	margin-left: 320px;
	margin-top:30px;
	color:  #B10944;
}
.aluno{
	width: 200px;
	height: 190px;
	border-radius: 100%;
	margin-top: 20px;

}
.nomes{
	font-size: 20px;
	margin-top: 42px;

}
#cala{
	width: 200px;
	height: 200px;
}
.baby{
	width: 980px;
}
.mes {

	font: bold 12px ;
	background: #A9A9F5;
	text-align: center;
	line-height: 25px;				
	height: 25px;
	width: 240px;
	margin-left: 150px;


			}
.semana {

	font: bold 12px ;
	background:#A9A9F5;
	text-align: center;
	line-height: 25px;						  
	height: 25px;
	width: 30px;

}

.dia {

	background: #A9A9F5;
	font: 12px ;				  
	text-align: center;
	height: 100px;
	width: 150px;

}


#calendario{
	margin-top: 60px;
	
}
#alerta{
	width: 200px;
	height: 100px;
	margin-top: 30px;

}
.ale{
	width: 980px;
	
}
.h{
	color: #B10944;
}
#baixo{
	background-color: #00688B;
	height: 200px;
	margin-top: 50px;
}
#profundo{
	background-color: #0B243B;

}
#escrita{
	margin-top: 30px;
	color: #8DB6CD;
	height: 80px;
	

}
#cu{
	color: #0B243B;
	font-size: 50px;
	margin-top: 50px;
}
#cursoos{
	font-size: 30px;
	margin-top: 30px;
	color:  #0B243B;
}
#textocurso{
	margin-top: 20px;
	
}
#tipo{
	color:  #0B243B;
	font-size: 40px;
	margin-left: 60px;
	font-weight: bold;
	margin-top: 20px;

}
.imagemcurso{
	width: 110%;
	height: 150px;
}
#evento{
	font-size: 50px;
	color: #0B243B;
	font-weight: bold;
	margin-top: 50px;
}
#halo{
	color: #36648B;
	font-weight: bold;
	font-size: 35px;
	margin-top: 30px;
}
#fotohalo{
	width: 100%;
	height: 300px;
	margin-top: 20px;

}
.fos{
	width: 1300px;
}
